:root {
	--main-font: 'Readex Pro', sans-serif;
	--velo-bg: #111520;
	--velo-bg-rgba: rgba(17, 21, 32, .8);
	--velo-bg-rgba-2: rgba(17, 21, 32, .18);
	--velo-primary-color: #fff;
	--velo-primary-color-rgba: rgba(255, 255, 255, .6);
	--velo-secoundary-color: #606982;
    --velo-main-color: #007BFF;
	--velo-main-hover: rgba(0, 154, 255, 0.18);
	--velo-main-color-rgba: rgba(0, 123, 255, .4);
	--velo-main-color-rgba-2: rgba(0, 123, 255, .2);
    --velo-main-color-2: #00b0ff;
	--velo-darness: #0e121c;
	--velo-dark: #1a2033;
    --velo-dark-rgba: rgba(26, 32, 51, .45);
    --velo-dark-rgba-2: rgba(26, 32, 51, .8);
	--velo-semidark: #1a1f2c;
    --velo-semidark-rgba: rgba(26, 31, 44, .9);
	--velo-semigray: #2b3245;
	--velo-semigray-rgba: rgba(43, 50, 69, .4);
	--velo-green: #2bc587;
	--velo-dark-color: #0a0d13;
    --purple: #8c66cf;
    --purple-hover: rgba(140, 102, 207, 0.15);
    --red: #e26464;
    --red-hover: rgba(226, 100, 100, 0.18);
    --green: #11a06c;
    --green-hover: rgba(20, 185, 125, 0.18);
    --yellow: #bca548;
    --yellow-hover: rgba(188, 165, 72, 0.18);
    --blue: #1f859f;
    --blue-hover: rgba(31, 133, 159, 0.18);
    --pink: #a248bc;
    --pink-hover: rgba(162, 72, 188, 0.18);
    /* Header Images*/
    --header-img: url('../img/hero.svg') no-repeat;
    --features-img: url('../img/gradient.svg') no-repeat;
    --products-img: url('../img/shadow-p.svg');
    --faqs-img: url('../img/faqs.png') no-repeat;
    --legal-img: url('../img/header_img/legal.png') no-repeat;
    --company-img: url('../img/header_img/company.png') no-repeat;
    --games-img: url('../img/header_img/gameservers.png') no-repeat;
    --vps-img: url('../img/header_img/vps.png') no-repeat;
    --dedicated-img: url('../img/header_img/dedicated.png') no-repeat;
    --web-img: url('../img/header_img/web.png') no-repeat;
    --sevendaystodie-img: url('../img/header_img/7daystodie.png') no-repeat;
    --ark-survival-evolved-img: url('../img/header_img/ark.png') no-repeat;
    --arma-img: url('../img/header_img/arma.png') no-repeat;
    --conan-img: url('../img/header_img/conan.png') no-repeat;
    --csgo-img: url('../img/header_img/csgo.png') no-repeat;
    --dayz-img:  url('../img/header_img/dayz.png') no-repeat;
    --eco-img:  url('../img/header_img/eco.png') no-repeat;
    --fivem-img:  url('../img/header_img/fivem.png') no-repeat;
    --gmod-img:  url('../img/header_img/garrysmod.png') no-repeat;
    --hytale-img:  url('../img/header_img/hytale.png') no-repeat;
    --leftfourdeadtwo-img:  url('../img/header_img/left4dead2.png') no-repeat;
    --minecraft-img: url('../img/header_img/minecraft.png') no-repeat;
    --palworld-img:  url('../img/header_img/palworld.png') no-repeat;
    --rust-img:  url('../img/header_img/rust.png') no-repeat;
    --teamfortresstwo-img:  url('../img/header_img/teamfortress2.png') no-repeat;
    --terraria-img:  url('../img/header_img/terraria.png') no-repeat;
    --unturned-img:  url('../img/header_img/unturned.png') no-repeat;
    --valheim-img:  url('../img/header_img/valheim.png') no-repeat;
}

/* Light & Dark 
[data-theme="light"] {
    --velo-bg: #fff;
}
*/
html {
    scrollbar-color:var(--velo-main-color) var(--velo-semigray);
    scrollbar-width: thin;
}

::-moz-selection{color:var(--velo-primary-color);background:var(--velo-semigray);}
::selection{color:var(--velo-primary-color);background:var(--velo-semigray);}
  
::-webkit-scrollbar {
    width:12px;
    background: var(--velo-semigray);
    border-radius:10px;
}

::-webkit-scrollbar-thumb {
    background-color:var(--velo-main-color);
    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color:var(--velo-main-color);
}

body {
    font-family: var(--main-font);
    background: var(--velo-bg);
    color: var(--velo-secoundary-color);
    transition: background-color 0.1s, color 0.1s;
}

a {
    color: var(--velo-main-color);
    transition:  0.5s ease;
}

a:hover,
a:active,
a:focus {
    color: var(--velo-main-color-2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--velo-primary-color);
}

label {
    color: var(--velo-secoundary-color);
}

p {
    color: var(--velo-secoundary-color);
}

ul, li {
    color: var(--velo-secoundary-color);
}

.container-start {
    margin-left: calc((100% - (1328px - 1.5rem))/2);
}

.container-end {
    margin-right: calc((100% - (1328px - 1.5rem))/2);
}

@media (max-width: 1399.98px) {
    .container-start {
        margin-left: calc((100% - (95% - 1.5rem))/2);
        padding-right: 0;
    }
    .container-end {
        margin-right: calc((100% - (95% - 1.5rem))/2);
        padding-left: 0;
    }
}

@media (max-width: 991.98px) {
    .container-start, .container-end {
        width: 100%;
        padding: 0 .75rem;
        margin-right: auto;
        margin-left: auto;
    }
}

.pe-0 {
    padding-right: 0 !important;

}

.py-6 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.pt-6 {
    padding-top: 5rem !important;
}

.mt-6 {
    margin-top: 5rem !important;
}

.mb-6 {
    margin-bottom: 5rem !important;
}

.mb-8 {
    margin-bottom: 7rem !important;
}

.mb-04 {
    margin-bottom: 4px !important;
}

.mt-n1 {
    margin-top: -0.25rem !important;
}

.mt-n2 {
    margin-top: -0.5rem !important;
}

.mt-n4 {
    margin-top: -2.5rem !important;
}

.bg-yellow {
    background: var(--velo-main-color);
    transition:  0.5s ease;
}

.bg-lightdark {
    background-color: var(--velo-semidark);
}

.bg-success {
    background-color: var(--velo-green);
}

.text-success {
    color: var(--velo-green);
}
  
.btn-outline-main {
    border: 1px solid var(--velo-main-color);
    color: var(--velo-main-color);
    transition:  0.5s ease;
}

.btn-outline-main:hover,
.btn-outline-main:active,
.btn-outline-main:focus {
    background-color: var(--velo-main-color);
    border: 1px solid var(--velo-main-color);
    color: var(--velo-dark-color);
}

.title h3 {
    color: var(--velo-primary-color);
}

.text-dark {
    color: var(--velo-dark);
}

.theme-swicher {
    box-shadow: none;
    outline: none;
    background-color: var(--velo-semidark);
    border: 1px solid var(--velo-semigray);
    border-radius: 6px;
    width: 28px;
    height: 28px;
    margin-right: 20px;
}

.theme-swicher svg {
    position: relative;
    top: -2px;
}

.form-control {
  background-color: var(--velo-semidark);
  border: 1px solid var(--velo-semigray);
  color: var(--velo-secoundary-color);
  box-shadow: none !important;
}

.form-control:active,
.form-control:focus,
.form-control:hover {
  background-color: var(--velo-semidark);
  border: 1px solid var(--velo-semigray);
  color: var(--velo-secoundary-color);
  box-shadow: none !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--velo-semigray) !important;
    color: var(--velo-primary-color) !important;
}

.card {
    background-color: var(--velo-semidark);
    border: 1px solid var(--velo-semigray);
}

.card .card-title {
    color: var(--velo-primary-color);
}

.nav-pills .nav-link {
    color: var(--velo-main-color);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--velo-dark-color);
    background-color: var(--velo-main-color);
  }

header {
    height: 400px;
    position: relative;
    z-index: 80;
}

header h1 {
    position: relative;
}

header h1:before {
    content: '';
    position: absolute;
    bottom: 16px;
    left: -32px;
    background: url('../img/spark.svg') no-repeat;
    width: 50px;
    height: 51px;
    z-index: 1;
}

  
header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset -250px -260px 140px 0px var(--velo-bg),
    inset 300px 10px 200px -3px var(--velo-bg);
    background-size: cover !important;
    z-index: -1;
    width: 100%;
    height: 100%;

}

/* Header Images */
.legal:before {
    background: var(--legal-img);
}

.company:before {
    background: var(--company-img);
}

.games:before {
    background: var(--games-img);
}

.vps:before {
    background: var(--vps-img);
}

.dedicated:before {
    background: var(--dedicated-img);
}

.web:before {
    background: var(--web-img);
}

.minecraft:before {
    background: var(--minecraft-img);
}

.seven-days-to-die:before {
    background: var(--sevendaystodie-img);
}

.ark-survival-evolved:before {
    background: var(--ark-survival-evolved-img);
}

.arma:before {
    background: var(--arma-img);
}

.conan-exiles:before {
    background: var(--conan-img);
}

.csgo:before {
    background: var(--csgo-img);
}

.dayz:before {
    background: var(--dayz-img);
}

.eco:before {
    background: var(--eco-img);
}

.fivem:before {
    background: var(--fivem-img);
}

.gmod:before {
    background: var(--gmod-img);
}

.hytale:before {
    background: var(--hytale-img);
}

.leftfourdeadtwo:before {
    background: var(--leftfourdeadtwo-img);
}

.palworld:before {
    background: var(--palworld-img);
}

.rust:before {
    background: var(--rust-img);
}

.teamfortresstwo:before {
    background: var(--teamfortresstwo-img);
}

.terraria:before {
    background: var(--terraria-img);
}

.unturned:before {
    background: var(--unturned-img);
}

.valheim:before {
    background: var(--valheim-img);
}

#about-container {
    background-color: var(--velo-semidark-rgba);
    position: relative;
}

#about-container:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#about-container p {
    color: var(--velo-primary-color-rgba);
}

/* About Us for Games Pictures */
.about-seven-days-to-die:before {
    background: var(--sevendaystodie-img);
}

.about-ark-survival-evolved:before {
    background: var(--ark-survival-evolved-img);
}

.about-arma:before {
    background: var(--arma-img);
}

.about-conan-exiles:before {
    background: var(--conan-img);
}

.about-counter-strike-global-offensive:before {
    background: var(--csgo-img);
}

.about-dayz:before {
    background: var(--dayz-img);
}

.about-eco:before {
    background: var(--eco-img);
}

.about-fivem:before {
    background: var(--fivem-img);
}

.about-garrys-mod:before {
    background: var(--gmod-img);
}

.about-hytale:before {
    background: var(--hytale-img);
}

.about-left-four-dead-two:before {
    background: var(--leftfourdeadtwo-img);
}

.about-palworld:before {
    background: var(--palworld-img);
}

.about-rust:before {
    background: var(--rust-img);
}

.about-team-fortress:before {
    background: var(--teamfortresstwo-img);
}

.about-terraria:before {
    background: var(--terraria-img);
}

.about-unturned:before {
    background: var(--unturned-img);
}

.about-valheim:before {
    background: var(--valheim-img);
}